# Archivos y carpetas que Git debe ignorar

# Dependencias y compilados (Siempre deben estar ignorados)
/node_modules
/dist
/build
/documentation
# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Archivos de Lock (Importante: la mayoría ya están cubiertos por la sección de logs, pero añadimos el lock)
package-lock.json

# Entorno
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# IDEs (Entornos de desarrollo)
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Sistema Operativo y Temporales
.DS_Store
Thumbs.db
/coverage
/.nyc_output
.temp
.tmp
*.tmp
*.swp

# Documentación generada automáticamente
documentation/generated/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json